/* Do tohoto souboru piš vlastní styly */
code::before {
    content: '$';
    opacity: 0.5;
    padding-right: 8px;
}

/**/

h1::before, h2::before {
    content: '';
    width: 20px;
    height: 20px;
    position: relative;
    background-color: #ffaaff;
    border-radius: 50%;
    display: inline-block;
}

/**/

blockquote {
	position: relative;
}

blockquote::before,
blockquote::after {
    content: '„';
    position: absolute;
    opacity: 0.3;
    font-size: 90px;
}

blockquote::before {
	bottom: 1px;
	left: 3px;
}

blockquote::after{
    content: '“';
    top: 1px;
	right: 3px;
}
